header {
  background-color: #562b81;
}

header h1 {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 400;
}

form h2 {
  font-size: 1.8rem;
  font-weight: 600;
}

img {
  width: 100%;
  border-radius: 0.25rem;
}

label {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 0.4rem;
}

form input,
form textarea {
  width: 100%;
  font-size: 1.1rem;
  font-family: "Proza Libre", sans-serif;
  border: 0.08rem solid #b6b6b6;
  border-radius: 0.25rem;
  padding: 0.7rem;
}

form textarea {
  resize: none;
}

input:focus,
textarea:focus {
  outline-color: #562b81;
}

.title-input-row {
  margin-bottom: 2rem;
}

.notes-label-row {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.button-row {
  margin-top: 0.9rem;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.purple-button {
  text-transform: uppercase;
  background-color: #562b81;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0;
}

p {
  font-size: 1.1rem;
  line-height: 1.9rem;
  letter-spacing: 0.04rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  align-items: center;
}

header a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 400;
  margin-left: 1.2rem;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-pencil {
  color: #674686;
  cursor: pointer;
  size: 3rem;
}

.fa-pencil:hover {
  color: #572b81;
}
